<template>
  <section>
    <div v-if="problemList && problemList.length > 0">
      <ul class="problem-list">
        <li v-for="(problem, index) in problemList">
          <div class="problem-card">
            <h2>{{ `${index+1}. ${problem.problem_text}` }}</h2>
            <div v-if="problem.type===1" class="answer-box">
              <div v-for="(answer, pIdx) in JSON.parse(problem.choices)" class="radiobox" @click="problem.userAnswer=answer">
                <label>
                  <input type="radio" :name="`answer${index}`"/>
                  <span>{{`${pIdx+1}. ${answer}`}}</span>
                </label>
              </div>
            </div>
            <div v-else-if="problem.type===2" class="answer-box">
              <div class="textbox">
                <textarea @change="e => problem.userAnswer = e.target.value"></textarea>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="button-box">
        <button class="primary" @click.prevent="submitAnswers">제출</button>
      </div>
    </div>
    <div v-else class="no-data">
      문제가 존재하지 않습니다.<br/>
      서버와의 연결이 원활하지 않을 수도 있으니,<br/>
      잠시 후 다시 시도해주세요.
    </div>
  </section>
</template>

<script>

  export default {
    name: 'index',
    head: {
      title: {
        inner: 'Home',
        separator: '|',
        complement: 'Knowre Assignment',
      },
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Knowre Assignment',
        },
      ],
    },
    data() {
      return {
        problemList: [],
      }
    },
    methods: {
      getProblems: async function () {
        try {
          const fetchProblem = await this.axios.get('http://localhost:8000/api/fetchProblem')
          if (fetchProblem && fetchProblem.data && fetchProblem.data.problems) {
            this.problemList = fetchProblem.data.problems
          }
        } catch (e) {
          alert(e)
        }
        console.log(this.problemList)
      },
      submitAnswers: async function () {
        let answerList = []
        let isEmpty = false
        this.problemList.forEach((problem, index) => {
          console.log(index+1, problem.userAnswer)
          if (!problem.userAnswer) isEmpty = true
          answerList.push({
            answer: problem.userAnswer,
          })
        })
        if (isEmpty) {
          console.log('빈칸이 있습니다.')
        }
        console.log(JSON.stringify(answerList))
        try {
          let form = new FormData()
          form.append(answerList)
          const submitProblem = await this.axios.post('http://localhost:8000/api/submit', form)
          console.log(submitProblem)
        } catch (e) {
          alert(e)
        }
      },
    },
    created() {
      this.getProblems()
    },
  }
</script>

<style scoped lang="scss">

  ul.problem-list {
    padding: 16px;

    li {

      .problem-card {

        .answer-box {

          .radiobox,
          .textbox {
            padding: 8px 12px;
          }
        }
      }
    }
    li + li {
      margin-top: 24px;
    }
  }
</style>