<template>
  <main id="app" class="app">
    <router-view/>
  </main>
</template>

<script>
  export default {
    name: 'App',
    data () {
      return {}
    },
    created () {
    },
  }
</script>

<style lang="scss">

  .app {
    width: 100%;
    min-height: 100vh;
  }
</style>