* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 맑은 고딕, Malgun Gothic, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

main {

  section {
    width: 100%;
    height: 100%;
  }
}

ul {
  list-style: none;
}

a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 0;
  padding-left: 10px;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  outline: none;
  padding: 10px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #fff;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.radiobox {
  display: flex;

  label {
    height: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;

    & > input {
      display: none;
    }

    & > span {
      padding-left: 28px;
      font-size: 20px;
    }

  }

  label > span::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 2px solid #ddd;
    background-color: #fff;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  label > span::after {
    content: '';
    /*width: 8px;
    height: 13px;*/
    width: 6px;
    height: 11px;
    border: solid #ddd;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    /*left: 8px;
    top: 4px;*/
    left: 6px;
    top: 2px;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  label > input:checked + span::before,
  label:hover > input:checked + span::before {
    background-color: #39d579;
    border: 2px solid #39d579;
  }

  input:checked + span::before {
    transition: all .25s ease-in-out;
  }

  input:checked + span::after {
    border-color: #fff;
    transition: all .25s ease-in-out;
  }
}